.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  height: 70px;
  z-index: 1;
  transition-timing-function: ease-in;
  background-color: transparent;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}
.nav_black {
  background-color: #031229;
  border: none;
  z-index: 10;
}

.nav_logo {
  width: 300px;
  object-fit: contain;
}
