.row {
  color: #fff;
}
.row_posters {
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 5px 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.section_title_container {
  margin: 20px;
  display: flex;
  padding: 20px 0;
  border-bottom: 2px solid #4a4a6980;
}

.row_logo {
  margin-right: 10px;
}

.row_title {
  font-size: 20px;
  font-weight: 700;
}
