.banner_button {
  cursor: pointer;
  color: #000;
  outline: none;
  border: none;
  border-radius: 8px;
  font-weight: 700;
  padding: 20px 20px;

  margin-right: 1rem;
  padding-top: 0.6rem;
  background-color:#EDDD76;
  padding-bottom: 0.5rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;

  div{
    margin-left: 15px;
    font-size: 26px;
    font-weight: 400;
  }
}

.banner_button:hover {
  color: #000;
  background-color: #f5dd44;
  box-shadow: 0 0 15px #f5dd44;
  transition: all 0.3s;
  transform: scale(1.1);
}
