.details_container {
}

.banner_container {
  background-color: #031229;
  width: 100%;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.gradient_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(3, 18, 41);
  background: linear-gradient(
    90deg,
    rgba(3, 18, 41, 1) 0%,
    rgba(3, 18, 41, 0.8239670868347339) 63%,
    rgba(0, 57, 69, 0.3309698879551821) 100%
  );
  top: 0;
}

.movie_detail_container {
  width: 60%;
  height: 80%;
  color: #fff;
  z-index: 1;
  margin: 100px 0 0 3vw;
}

.movie_name {
  font-size: 32px;
  font-weight: 600;
}

.movie_small_detail {
  width: 40%;
  font-weight: 600;
  color: #6289ad;
  margin-top: 10px;
  display: flex;

  div {
    margin-right: 15px;
  }
}

.movie_description {
  margin-top: 10px;
  font-weight: 600;
}

.watch_trailer {
  width: 150px;
  height: 60px;
  background-color: #00a0d6;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie_details2 {
  margin-top: 20px;
  width: fit-content;
  height: 150px;
}

.details2_item_cont {
  display: flex;
}

.details_item_name {
  width: 150px;
  color: #eeecec;
  font-weight: 600;
}

.details_item_value {
  display: flex;
  color: #cdcfd1;
  font-weight: 400;
  div {
    margin-right: 10px;
  }
}
