.row_container {
  color: #fff;
}

.row_title_container {
  margin: 30px 10px;
  display: flex;
  padding: 0;
  align-items: center;

  span {
    width: 100%;
    height: 2px;
    margin-left: 10px;
    background-color: #4a4a6980;
  }
}


.row_title {
  font-size: 28px;
  padding: 0 20px;
  width: fit-content;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.item_container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 30px;
}
